.App{
  background-color: #0D1A2D;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Outfit', sans-serif;
}



.card{
  background-color: #15273F;
  height: 65%;
  width: 18%;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
}

img{
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  
}

.img-overlay{
  position: absolute;
  top: 0;
  opacity: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: hsl(178, 100%, 50%);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-overlay:hover{
  transition: 0.2s;
opacity: 0.6 !important;
}


.title{
  color: #D1DCE0;
  font-weight: 600;
  font-size: larger;
  cursor: pointer;
}
.author{
  cursor: pointer;
}

.title:hover,.author:hover{
  color: hsl(178, 100%, 50%);
  transition: 0.2s;

}

.img-container{
  position: relative;
 cursor: pointer;
}

.description{
  color: #8DA8CF;
  font-weight: 300;
  font-size: 16px;
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.value , .timeLeft{
  text-align: center !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;

}

hr{
  width: 100%;
  border: 0.1px solid hsl(215, 51%, 70%);
  opacity: 0.1;
}

.footer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #D1DCE0;
  font-weight: 300;
  font-size:16px

}

.footer img{
  width:28px;
  height: 28px;
  border: 1px solid white;
  border-radius: 50%;
}

.value span{
  margin-left:5px;
  color: #3BC6C7;

}

.timeLeft span{
  margin-left:3px;
  color: #8DA8CF;
}

@media only screen and (min-width:1010px) {

  .card{
      width:18%;
  }

}


@media only screen and (min-width:897px) and (max-width:1010px) {

  .card{
      width:25%;
  }

  .value span{
      margin-left:1px;
      font-size: 13px;
  }

  .description {
      font-size: 14px;
  }

  .footer{
      font-size:13px ;
  }

  .timeLeft span{
      margin-left:1px;
      font-size: 13px;

  }
  
  .title{
      font-size: 16px;
  }

}

@media only screen and (min-width:700px) and (max-width:897px) {
  .card{
      width:30%;
  }
}

@media only screen and (min-width:600px) and (max-width:700px) {

  .card{
      width:35%;
  }
  .card > *{
      margin:0
  }

  .value span{
      margin-left:1px;
      font-size: 13px;
  }

  .timeLeft span{
      margin-left:1px;
      font-size: 13px;

  }
  .description {
      font-size: 14px;
  }

  .footer{
      font-size:13px ;
  }

  
  .title{
      font-size: 16px;
  }
}

@media only screen and (min-width:500px) and (max-width:600px) {
  .card{
    width:45%;
}

}

@media only screen and (min-width:400px) and (max-width:500px) {

  .card{
      width:50%;
  }
  .card > *{
      margin:0
  }

  .value span{
      margin-left:1px;
      font-size: 13px;
  }

  .timeLeft span{
      margin-left:1px;
      font-size: 13px;

  }

  .description {
      font-size: 14px;
  }

  .footer{
      font-size:13px ;
  }
  
  .title{
      font-size: 15px;
  }
}

@media only screen and (max-width:400px) {

  .card{
      width:60%;
  }
  .card > *{
      margin:0
  }

  .value span{
      margin-left:1px;
      font-size: 13px;
  }

  .timeLeft span{
      margin-left:1px;
      font-size: 13px;

  }
  .description {
      font-size: 14px;
  }

  .footer{
      font-size:13px ;
  }

  .title{
      font-size: 16px;
  }
}